/* Core Styles */

* {
  box-sizing: inherit;
}

.combobox {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.combobox input {
  margin: 0;
}

.combobox .open {
  background: #eee;
  border: 1px solid #ccc;
  border-left: none;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  display: inline-block;
}

.combobox .options {
  position: absolute;
  top: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background: #fff;
  list-style-type: none;
}

.combobox .options .option {
  border-bottom: 1px solid #eee;
  padding: 3px 6px;
  cursor: default;
}

.combobox .options .option:hover {
  background-color: #fafafa;
}

.combobox .options .option:last-child {
  border-bottom: none;
}

/* Advanced styles */

/*.combobox .open {
  font-size: 0;
}

.combobox .open:before {
  content: '▾';
  font-size: 12px;
}*/
